<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>契約中サービス一覧</title>
  <meta charset="UTF-8">
  
      <!-- CSS -->
  <link rel="stylesheet" href="design.css">
</head>
<body>
  <h1>契約サービス一覧</h1>
  
<table border="5">
<tr>
<th>サイト名</th>
<th>契約日</th>
<th>無料期間終了日</th>
<th>詳細</th>
</tr>

<tr th:each ="service:${data}">
<td class="listtd"><span th:text="${service.s_name}">ここにサイト名が入ります</span></td>
<td class="listtd"><span th:text="${service.r_date}">ここに契約日が入ります</span></td>
<td class="listtd"><span th:text="${service.t_period}">ここに無料期間終了日が入ります</span></td>
<td class="listtd"><a href="detail">詳細</a></td>
<!-- <td><a href="top"><button type="submit" th:value="${service.id}" name="test22">詳細</button></a></td> -->

</tr>



</table>
  
  <a class="button" href = "top" >・TOPへ</a><br>
</body>
</html>
